<div class="header">
    <nav class="nav">
        <ul>
            <li>
                <a href="#Main">Main</a>
            </li>
            <li>
                <a href="#Profile">Profile</a>
            </li>
            <li>
                <a href="#Login">Login</a>
            </li>
        </ul>
    </nav>

    <p class="headerСourse">1 USD = {{service.courseState['buy'].usd | number:'1.2' }}UAH : {{service.courseState['sale'].usd | number:'1.2' }}UAH</p>
    <p class="headerСourse">1 EUR = {{service.courseState['buy'].eur | number:'1.2'}}UAH : {{service.courseState['sale'].eur | number:'1.2'}}UAH</p>
</div>